@model ChilliSoftAssessment.Models.BaseRoomViewModel

@{
    ViewData["Title"] = "DemoRoom";

    List<SelectListItem> item = new List<SelectListItem>();
    List<SelectListItem> attendies = new List<SelectListItem>();
    if (Model.Items != null)
    {
        var allitems = Model.Items;
        item = allitems.Select(a => new SelectListItem { Text = a.Description, Value = a.ItemId }).ToList();
    }
    if (Model.Atteendies != null)
    {

        var allattendies = Model.Atteendies;
        attendies = allattendies.Select(a => new SelectListItem { Text = a.EmployeeName, Value = a.EmployeeId }).ToList();
    }

}

<div class="row">
    <div class="col-md-4">
        @foreach (var emp in Model.Atteendies)
        {
            <div style="width:inherit">
                <partial name="_Employee" model="emp"></partial>
            </div>
        }
    </div>
    <div class="col-md-6">
        @using (Html.BeginForm("ChangeMeetingItem", "Meeting", Model))
        {
            @Html.DropDownListFor(m => m.SelectedItemId, item, new { onchange = "this.form.submit()" })
            @Html.DropDownListFor(m => m.SelectedItem, new SelectListItem[]{
    new SelectListItem() { Text = "Open", Value = "Open" },
    new SelectListItem() { Text = "InDev", Value = "InDev" },
    new SelectListItem() { Text = "Closed", Value = "Closed" },
    new SelectListItem() { Text = "na", Value = "na" },
    new SelectListItem() { Text = "awaiting", Value = "awaiting" },
    new SelectListItem() { Text = "invoiceing", Value = "invoiceing" }})

        }
        <form asp-action="SendMessage" asp-controller="Meeting">
            @if (Model.Atteendies != null && Model.Atteendies.Count > 0)
            {

                @for (int i = 0; i < Model.Atteendies.Count(); i++)
                {
                    <input asp-for="Atteendies[i].EmployeeId" type="hidden" />
                    <input asp-for="Atteendies[i].EmployeeName" type="hidden" />
                    <input asp-for="Atteendies[i].EmployeePosition" type="hidden" />

                }
            }
            @if (Model.Items != null && Model.Items.Count > 0)
            {
                @for (int i = 0; i < Model.Items.Count(); i++)
                {
                    <input asp-for="Items[i].ItemId" type="hidden" />
                    <input asp-for="Items[i].ItemName" type="hidden" />
                    <input asp-for="Items[i].Description" type="hidden" />
                    <input asp-for="Items[i].LastMeetingId" type="hidden" />
                    <input asp-for="Items[i].Categorey" type="hidden" />
                    <input asp-for="Items[i].EmployeeResponsible" type="hidden" />
                    <input asp-for="Items[i].ItemTalker" type="hidden" />

                }
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                @*
                <label asp-for="SelectedItemId" class="control-label"></label>
                <select asp-for="SelectedItemId" asp-items="item" name="selectItem" id="selectItem" onchange=""></select>
                <span asp-validation-for="SelectedItemId" class="text-danger"></span>
                *@

            </div>

            @*<div class="row">
            @foreach (var topic in Model.Items)
            {
                <partial name="_ItemHead" model="topic"></partial>
            }
            </div>*@
            <div class="jumbotron">
                @foreach (var topic in Model.Messages)
                {
                    @if (topic.Body != "J" && topic.Body != "JoInInG" && topic.ItemId != "Joined")
                    {

                        <br />
                        @topic.Body
                        <br />
                    }
                }
            </div>
            <input type="hidden" asp-for="MeetingId" class="btn btn-primary" />

            <div class="form-group">
                <input asp-for="Body" class="form-control" />
                <input type="submit" value="Send" class="btn btn-primary" />


        </form>
    </div>

    @*<div class="col-md-2">

 
</div>*@
<a asp-action="ChangeItem" asp-controller="Meeting" asp-route-id="@Model.SelectedItemId" asp-route-meetingid="@Model.MeetingId" class="btn btn-success">Change Item</a>
<a asp-action="RefreshMeeting" asp-controller="Meeting" asp-route-id="@Model.MeetingId" class="btn btn-secondary">Refresh</a>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
1. <Script type="text/javascript" >
       $(document).ready(function()  
       {  
           $("#selectItem").on("change", function()  
           {  
               $.ajax(  
                   {
                       url: '/Meeting/ChangeMeetingItem?itemid=' + $(this).attr("value") + '/meetingid=@Model.MeetingId',  
                   type: 'GET',  
                    data: "",  
                    contentType: 'application/json; charset=utf-8',  
                    success: function(data)  
                    {  
                        $("#partialDiv").html(data);  
                    },  
                    error: function()  
                    {  
                        alert("error");  
                    }  
                });  
            });  
    }); </script>
