@model ChilliSoftDLL.Models.Meeting

<div>
  
    <dl class="row">

        <dd class = "col-sm-10">
            @Html.HiddenFor(model => model.MeetingId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Caption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Caption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>

        <a asp-action="JoinMeeting" asp-controller="Meeting">Join Room</a>
     
    </dl>
</div>
