@model IEnumerable<ChilliSoftAssessment.Models.ReportListItemModel>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MeetingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.itemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.itemStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemStatus)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
